*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100%;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
   letter-spacing: 2px;
}

section#home{
    background-image: url('https://images.unsplash.com/photo-1684143052853-704866c5c375?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80');
 
}

section#about{
    background-color: red;
}

section#services{
    background-color: green;
}

section#prices{
    background-color: orange;
}

section#contact{
    background-color: gray;
}

.menu-bars{
    position: fixed;
    top: 16px;
    right: 32px;
    z-index: 10;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

.overlay{
    position: fixed;
    width: 100vw;
    z-index: 9;
    transform: translateX(-100vw);
}

.overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
}

.overlay-slide-left{
    transition: all 0.8s ease-in-out;
    transform: translateX(-100vw);
}

nav li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

nav ul li{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li:nth-of-type(1){
    background-color: blue;
}

nav li:nth-of-type(2){
    background-color: red;
}

nav li:nth-of-type(3){
    background-color: green;
}

nav li:nth-of-type(4){
    background-color: orange;
}

nav li:nth-of-type(5){
    background-color: gray;
}  

.slide-in-1{
    animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2{
    animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3{
    animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4{
    animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5{
    animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
       }
       to{
        transform: translateX(0);
       }
}


.slide-out-1{
    animation: slide-out 0.4s linear 1s both;
}

.slide-out-2{
    animation: slide-out 0.4s linear 0.8s both;
}

.slide-out-3{
    animation: slide-out 0.4s linear 0.6s both;
}

.slide-out-4{
    animation: slide-out 0.4s linear 0.4s both;
}

.slide-out-5{
    animation: slide-out 0.4s linear 0.2s both;
}

@keyframes slide-out {
    from {
        transform: translateX(0);
       }
       to{
        transform: translateX(-100%);
       }
}